/* ************************************************* */
/* colors                                            */
/* ************************************************* */

:root {

  /* overall look */
  /* soft red */
  --primary-0: hsl(10deg 79% 65%);
  /* cyan  */
  --primary-1: hsl(186deg 34% 60%);
  /* dark brown  */
  --neutral-0: hsl(25deg 47% 15%);
  /* cream  */
  --neutral-1: hsl(27deg 66% 92%);
  /* very pale orange  */
  --neutral-2: hsl(33deg 100% 98%);
  /* medium brown  */
  --neutral-3: hsl(28deg 10% 53%);
}
